<h3>Search for and buy products and services using Bivo</h3>

<img src="/images/vec1.jpg" width="678" height="272" class="vecPic" />
<div class="vecTxtM">
	<p><strong>Meet Jack, fan of the arts</strong></p>
    <p>Let's say Jack, a book fanatic and photography lover living in the UK, hears about Bivo from a friend and decides to give it a look. Once he finds out that he can support worthy causes proposed by respected charitable organizations just by buying the books and artwork he'd buy anyway and without paying extra, he says to himself "Why not?"</p>
    <p>Jack types "books" to see a list of booksellers from whom Bivo can collect commissions. From the results displayed, he chooses Amazon. Jack then clicks the "Shop at Amazon UK" button and is redirected to Amazon's UK website. There, he completes his Amazon purchase in the same way he always has and pays the same price as any other Amazon customer.</p>
    <p>Once he discovers how easy it is to shop and make a difference with Bivo, Jack searches for and purchases a stunning photographic print of a Parisian street market, perfect for a bare wall in his apartment. And soon after, while Jack admires his new artwork, a person on the other side of the world gets the help she needs, thanks to the Bivo donation that Jack made possible.</p>
</div>

<img src="/images/vec2.jpg" width="678" height="272" class="vecPic" />
<div class="vecTxtM">
	<p><strong>Meet Jane, business traveler</strong></p>
    <p>Jane's business takes her to almost every corner of the planet, so she's logged a lot of time on popular travel shopping sites like Expedia and Orbitz. After months of phone conversations with a prospective client based in Alaska, she's ready to close a deal that could take her business to a new level. Since this client is so important, Jane decides a face-to-face meeting is in order, and sits down to book the trip. But instead of visiting a travel site directly, she decides to first check out Bivo, which a colleague recommended.</p>
    <p>Jane, a U.S. citizen, searches for "flights" at Bivo.org and finds that all her usual travel shopping sites offer affiliate commissions that Bivo can use to support charitable causes. Let's say she chooses Expedia for this trip. By clicking the "Shop at Expedia" button displayed on Bivo's shopping page, Jane now has access to the same flight, hotel, car rental, and other options as any other Expedia customer. Delighted that she can get a great deal on her business travel package and support a worthy cause at the same time, Jane books her trip.</p>
    <p>Following her meeting in Alaska – a successful venture that opened up exciting new possibilities for her business – Jane realizes that she really needs to up her game online. That means a webhosting service that will be able to keep up with her rapidly expanding product catalog and customer base. She remembers seeing something about webhosting at Bivo.org, so Jane checks it out. Within hours, Jane has a new webhost, and a deserving charitable cause meets its funding goal.</p>
</div>

<img src="/images/vec3.jpg" width="678" height="272" class="vecPic" />
<div class="vecTxtM">
	<p><strong>Bivo collects commissions on referred sales</strong></p>
    <p>Because Jack purchased his book from Amazon by way of Bivo, Bivo collects a commission on the sale. If Jack's new book cost him 20 GBP, Bivo receives 8 cents. Now, this may not seem like a lot, but remember that a lot of "Jacks" using Bivo can make for a lot of smiling faces whose owners benefit from Bivo's charitable donations. And all of these Bivo buyers can make that possible without spending a cent more than they otherwise would.</p>
    <p>Or consider Jane and her $2800 USD business trip to Alaska. Bivo collects a $70 USD commission, which goes into a donation pool along with the commission on Jack's purchase. And those artwork and webhosting purchases? Monthly, yearly, and one-time commissions on those sales become charitable donations, as well.</p>
</div>

<img src="/images/vec4.jpg" width="678" height="272" class="vecPic" />
<div class="vecTxtM">
	<p><strong>Charities propose causes</strong></p>
    <p>Charitable organizations that have passed Bivo's examination propose humanitarian, environmental, and animal welfare causes they'd like to fund. For this example, let's look at three of these proposals:</p>
    <p class="vecBulTxt">●  Charity A, a humanitarian aid organization, wants to send 10,000 EUR in medical supplies to Ghana.</p>
    <p class="vecBulTxt">●  Charity B, dedicated to animal welfare, wants to add onto an existing animal shelter in Cambodia, which will cost 5,000 EUR.</p>
    <p class="vecBulTxt">●  Charity C, which is concerned with environmental matters, needs 3,500 EUR to clean a beach in Montenegro.</p>
    <p>Each of the above charitable causes, once approved by Bivo, appear in our Charity List pages, where Bivo users can vote for their favorites.</p>
</div>

<img src="/images/vec5.jpg" width="678" height="272" class="vecPic" />
<div class="vecTxtM">
	<p><strong>Bivo collects commissions on referred sales</strong></p>
    <p>Because Jack purchased his book from Amazon by way of Bivo, Bivo collects a commission on the sale. If Jack's new book cost him 20 GBP, Bivo receives 8 cents. Now, this may not seem like a lot, but remember that a lot of "Jacks" using Bivo can make for a lot of smiling faces whose owners benefit from Bivo's charitable donations. And all of these Bivo buyers can make that possible without spending a cent more than they otherwise would.</p>
    <p>Or consider Jane and her $2800 USD business trip to Alaska. Bivo collects a $70 USD commission, which goes into a donation pool along with the commission on Jack's purchase. And those artwork and webhosting purchases? Monthly, yearly, and one-time commissions on those sales become charitable donations, as well.</p>
</div>

<img src="/images/vec6.jpg" width="678" height="272" class="vecPic" />
<div class="vecTxtM">
	<p><strong>The Bivo community spreads the word, volunteers, and grows Bivo</strong></p>
    <p>Jack, Jane, and thousands of other Bivo users, impressed with how easy it is to make a big difference in the lives of others, become Bivo Evangelists, telling anyone who will listen how they too can become a part of Bivo and support worthy causes just by shopping as they normally would. Jack and Jane even look into Bivo's volunteer opportunities, and soon they're donating time and talent to growing Bivo so that it can become an even better force for change in the world.</p> 
</div>