<% content_for(:js) do %>

  function showComments(button, id){
  //it sets the form in the place where the button (reply or add_comment) is
  //and set the parent id if replying, and show the cancel button.

    var comment_add_form = $('#comment_add_form');

    var container = $(".add_form_container:last", $(button).closest(".comment_row"));
    var comment_text = $('textarea', comment_add_form);
    var hidden_comment_parent = $('input[name="parent_id"]',comment_add_form);
    var cancel_add_button = $('input[name="cancel_button"]',comment_add_form);

    container.append(comment_add_form);

    comment_text.val("");
    hidden_comment_parent.val(id);
    comment_add_form.show();
    comment_text.focus();

    $(button).hide();
    cancel_add_button.show();

  }

  function replaceAll(txt, replace, with_this) {
    return txt.replace(new RegExp(replace, 'g'),with_this);
  }

  function editComment(id,body){
    $('#text_area_' + id).attr('value',replaceAll(body,'<br>', '\n'));
    $('#text_area_' + id).show();
    $('#comment_body_' + id).hide();
    $('#edit_button_' + id).hide();
    $('#save_button_' + id).show();
    $('#cancel_button_' + id).show();
  }

  function cancelEdit(id){
    $('#text_area_' + id).hide();
    $('#comment_body_' + id).show();
    $('#edit_button_' + id).show();
    $('#save_button_' + id).hide();
    $('#cancel_button_' + id).hide();
  }

  function cancelAdd(button){
    var comment_add_form = $('#comment_add_form');
    var reply_or_add_comment_button = $('input[name="reply_or_add_button"]:first', $(button).closest(".comment_row"));

    comment_add_form.hide();
    reply_or_add_comment_button.show();
    $(button).hide();
  }

<% end %>

<%
  if comment
    action = 'update'
  else
    action = 'create'
  end
%>



<div id="comments" class="cvNews"><h2>Comments</h2></div>

<div class="cvNewsBox cvNewsBox2" >
  <div class="cvNewsBoxIn cvNewsBox2 flexcroll">
    <div id="comments_list">
      <% comments_roots_by_date(entity).each do |comm|%>
      <%= render(:partial => 'comments/comment_row', :locals => { :comment => comm, :entity => entity})%>
      <%end%>

    </div>
    <div class="comment_row">
        <%=add_comment_button entity%>

        <div class="add_form_container">
        <%= render(:partial => 'comments/add_form', :locals => {:entity => entity, :action => action})%>
        </div>
      </div>

    </div>
</div>

