<%= render(:partial => 'shared/notifications.js') %>
<% content_for(:js) do %>

  function scrollToBottom(){
    var scrollH=document.body.scrollHeight;
    var offsetH=document.body.offsetHeight;
    if(scrollH>offsetH) window.scrollTo(0,scrollH);
    else window.scrollTo(0,offsetH);
  }

  function showComments(){
    $('#comment_form').show();
    $('#comment_text_area').focus();
    $('#add_comment_btn').hide();
    $('#cancel_button').show();
    scrollToBottom();
  }

  function reply(id){
    $('#parent_id').attr('value',id);
   }

  function editComment(id){
    text = $('#comment_body_' + id).text();
    $('#text_area_' + id).attr('value',text);
    $('#text_area_' + id).show();
    $('#comment_body_' + id).hide();
    $('#edit_button_' + id).hide();
    $('#save_button_' + id).show();
    $('#cancel_button_' + id).show();
  }

  function cancelEdit(id){
    $('#text_area_' + id).hide();
    $('#comment_body_' + id).show();
    $('#edit_button_' + id).show();
    $('#save_button_' + id).hide();
    $('#cancel_button_' + id).hide();
  }

  function cancelAdd(){
    $('#comment_form form')[0].reset();
    $('#comment_form').hide();
    $('#add_comment_btn').show();
  }

<% end %>

<%
  if comment
    action = 'update'
  else
    action = 'create'
  end
%>

<br/>
<div id="comments">
    <div id="comments_list">
        <% comments_roots_by_date(entity).each do |comm|%>
        <%= render('comments/comment_row', :comment => comm, :entity => entity)%>
        <%end%>
    </div>

  <div id="add_comment_btn">
    <%=add_comment_button entity%>
  </div>

  <div id= "comment_form" style="display:none">
    <%= render('comments/add_form', :entity => entity, :action => action)%>
  </div>
</div>

