<h1><%= _("Choose a language for start translations")%></h1>

<% @languages.each do |lang|%>
	<%= link_to "#{lang.name} (#{Shop.translation_pending(lang.id).count} pending translations)", :action => "translate", :language_for_transalte => lang.id%>
<% end %>
