.hidden {
	visibility: hidden;
}

.nodisplay {
    display: none;
}

.cause {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.charity {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.field {
  margin: 10px;
}

.field label {
  width: 200px;
  float: left;
}

.scroll {
  max-height: 300px;
  max-width: 400px;
  overflow: auto;
}

.edit_catecories form, .edit_catecories form.button_to, .edit_catecories form.button_to div {
	display: inline;
}


form.inline {
	display: inline;
}

.box {
	border: 1px solid black;
	width: 400px;
	padding: 15px;
	padding-top: 0px;
	margin: 2px;
}

#facebook_like {
	margin-top: 3px;
	height: 26px;
}


.gallery .thumbnails img { width: 60px; height: 45px; cursor: pointer; border: 1px solid transparent; }
.gallery .thumbnails .current { border: 1px solid red; }
.gallery .view { width: 425px; height: 349px; }
.gallery .view img { width: 425px; height: 355px; }
.gallery .thumbnails { list-style-type: none; padding: 0px; }
.gallery .thumbnails li, .gallery .thumbnails li div, .gallery .thumbnails li div form { display: inline-block; }
.gallery .thumbnails li { text-align: center; }

