.hidden {
	visibility: hidden;
}

.cause {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.charity {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.field {
  margin: 10px;
}

.field label {
  width: 200px;
  float: left;
}

.scroll {
  max-height: 300px;
  max-width: 400px;
  overflow: auto;
}

.edit_catecories form, .edit_catecories form.button_to, .edit_catecories form.button_to div {
	display: inline;
}

form.inline {
	display: inline;
}

.box {
	border: 1px solid black;
	width: 400px;
	padding: 15px;
	padding-top: 0px;
	margin: 2px;
}

#facebook_like {
	margin-top: 3px;
	height: 26px;
}