.hidden {
	visibility: hidden;
}

.nodisplay {
    display: none;
}

.cause {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.charity {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.field {
  margin: 10px;
}

.field label {
  width: 200px;
  float: left;
}

.scroll {
  max-height: 300px;
  max-width: 400px;
  overflow: auto;
}

.edit_catecories form, .edit_catecories form.button_to, .edit_catecories form.button_to div {
	display: inline;
}


form.inline {
	display: inline;
}

.box {
	border: 1px solid black;
	width: 400px;
	padding: 15px;
	padding-top: 0px;
	margin: 2px;
}

#facebook_like {
	margin-top: 3px;
	height: 26px;
}

.topnav{
	height:74px;
	position:absolute;
	z-index:1000;
	top:30px;
  width: 100%;
	font:bold 16px/54px Arial, Helvetica, sans-serif;
}
.topnav li{
	float:right;
}
.topnav li a, .topnav li a.selected{
	display:block;
	width:101px;
	height:74px;
	padding:0 0 0 0;
	color:#4b4a4a;
	text-align:center;
}
.topnav li a:hover, .topnav li a.selected{
	height:74px;
	background:url(../images/navHo.png) 50% 0 no-repeat;
	behavior:url(iepngfix.htc);
}

.updnWatermark label {
	width:164px !important;
	height:35px !important;
	font:normal 16px/17px Arial, Helvetica, sans-serif;
	color:#4c4c4c !important;
	padding-top: 10px;
	margin-left: 8px;
}

.cvReBoxR{
	width:inherit;
	padding-left: 66px;
	float: none;
}

.pegi a, .pegi span{
	color:#ff8400;
	padding:0 5px 0 0;
	font:normal 13px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
  top: -31px;
  right: 15px;
  position:relative;
}

.pegi.shops a, .pegi.shops span{
  top: -53px;
}

.pegi span{
  font-weight:bold;
}

.inputWithBorder {
  border: 1px solid #7F9DB9;
}

li.youtube img, li.vimeo img {
  width:      69px;
  height:     52px;
  margin-top: 2px;
}

a.accBtnMi {
  padding-top: 5px;   
}

select.genChoo {
    width: 120px;
}

.topDropDev {
	float:right;
	margin:8px 0 0 0;
}
.topDropDev select{
	width:115px;
	margin:0 0 0 10px;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
}

.classic_table {
    border-collapse:collapse;
    border-top:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
}

.classic_table th a {
    color:inherit;
}

.classic_table th {
	font:bold 14px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#f6f6f6;
    background:url(../images/grenHead.jpg) 0 0 repeat-x;
	border-right:1px solid #989898;
}

.classic_table td {
	font:bold 14px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-left:1px solid #989898;	
    border-right:1px solid #989898;
}


