.hidden {
	visibility: hidden;
}

.nodisplay {
    display: none;
}

.cause {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.charity {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

.accfil2{
	height:22px;
	float:left;
	padding:0 2px;
	margin:0 0 0px 66px;
	font:normal 13px/24px Arial, Helvetica, sans-serif;
	color:#000;
	border:1px solid #7f9db9;
}

.accNewsFil{
	width:359px;
	height:22px;
	padding:0 2px;
	margin:0 0 10px 0;
	font:normal 13px/24px Arial, Helvetica, sans-serif;
	color:#000;
	border:1px solid #7f9db9;
}

.leftMarginFromBorder{
	margin:0 0 0px 20px;

}

.cvComBoxLPic2{
	width:50px;
	height:50px;
	float:left;
	padding:1px;
	border:1px solid #abd026;
}
.accMess2{
	height:70px !important;
}
.cvComReply2{
	background-color:#e0e0e0;
	border:1px dashed #989898;
	padding:15px 10px;
	margin:0px 0 0 10px;
	overflow:hidden;
}

.field {
  margin: 10px;
}

.field label {
  width: 200px;
  float: left;
}

.scroll {
  max-height: 300px;
  max-width: 400px;
  overflow: auto;
}

.fat_scroll {
  max-height: 300px;
  max-width: 550px;
  overflow: auto;
}

form a {
	color: #0081B1;
}

.shop_categories_path li {
    float:left;
}

.shop_categories li a {
	color: #0081B1;
}

.shop_categories li a:hover {
    text-decoration:underline;
}

.shop_categories_subcategories li {
	list-style-type:disc;
	margin-left:20px;
}

form.inline {
	display: inline;
}

.box {
	border: 1px solid black;
	width: 400px;
	padding: 15px;
	padding-top: 0px;
	margin: 2px;
}

#facebook_like {
	margin-top: 3px;
	height: 26px;
}

.topnav{
	height:74px;
	position:absolute;
	z-index:1000;
	top:30px;
  width: 100%;
	font:bold 16px/54px Arial, Helvetica, sans-serif;
}
.topnav li{
	float:right;
}
.topnav li a, .topnav li a.selected{
	display:block;
	width:101px;
	height:74px;
	padding:0 0 0 0;
	color:#4b4a4a;
	text-align:center;
}
.topnav li a:hover, .topnav li a.selected{
	height:74px;
	background:url(../images/navHo.png) 50% 0 no-repeat;
	behavior:url(iepngfix.htc);
}

.updnWatermark label {
	width:164px !important;
	height:35px !important;
	font:normal 16px/17px Arial, Helvetica, sans-serif;
	color:#4c4c4c !important;
	padding-top: 10px;
	margin-left: 8px;
  /*left: -203px;
  top: 13px;*/
}

.updnWatermark
{
  position:absolute;
  display: none;
}

.cvReBoxR{
	width:inherit;
	padding-left: 66px;
	float: none;
}

.cvComBox {
	margin-bottom: 0px;
}

.leav {zebra_table
	margin-top: 0px;
	margin-right: 22px;
}

.pegi a, .pegi span{
    color:#ff8400;
    padding:0 5px 0 0;
    font:normal 13px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
    position:relative;
}

.pegi.shops a, .pegi.shops span{
  top: -53px;
}

.pegi span{
  font-weight:bold;
}

.pegi {
  width: 200px;
}

.pegi.shops {
  width: 125px;
}

.pegi.charities {
  width: 110px;
}

.pegi.charities a, .pegi.charities span{
  top: -31px;
  right: 15px;
}

.inputWithBorder {
  border: 1px solid #7F9DB9;
}

li.youtube img, li.vimeo img {
  width:      69px;
  height:     52px;
  margin-top: 2px;
}

a.accBtnMi {
  padding-top: 5px;
}

select.genChoo {
    width: 120px;
}

.topDropDev {
	float:right;
	margin:8px 0 0 0;
}
.topDropDev select{
	width:115px;
	margin:0 0 0 10px;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
}

.zebra_table {
    border-collapse:collapse;
    border: 1px solid #e3e3e3;
    margin: auto;
}

.zebra_table tr {
    border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	border-right:1px solid #d7d7d7;
}

.zebra_table th a {
    color:inherit;
}

.zebra_table a:hover {
    text-decoration:underline;
}

.zebra_table th {
	font:bold 14px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#000000 !important;   
    background-color:#c7c7c7;
    border-right:1px solid #989898;
}

.zebra_table td {
	font:bold 14px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-right:1px solid #989898;
    color:#444444;
}

.username {
    color:#7d9e06 !important;
}

.username a {
    color:inherit;
}

.odd_field {
	background-color:#e9e9e9 !important;
	border-top:none !important;
}

.even_field {
    background-color:#e1e1e1 !important;
	border-top:none !important;
}

.date_select{
	height:20px;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#000;
	margin:0 5px 0 0;
}

.genFilTxt2 {
	float:left;
	font:normal 13px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	padding:0 10px 0 0;
}

.gnFilMain2{
	height:28px;
	padding:20px 15px 0;
	background:url(../images/bigrayTop.jpg) 0 0 repeat-x;
}

.banLFill2{
	display:block;
	width:218px;
	height:35px;
	float:left;
	padding:8px 10px 5px;
	font:normal 16px/18px Arial, Helvetica, sans-serif;
	color:#000;
	background:url(../images/filBg.png) 0 0 no-repeat;
	behavior:url(iepngfix.htc);
}

.genChoo2{
	height:20px;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#000;
	margin:0 30px 0 0;
}

.error {
	color:red;
}

div.error {
    padding-bottom:10px;
}

.error li {
    list-style-type:disc;
    margin-left:30px;
}

.actions {
	margin-bottom: 5px;
}
.actions div, .actions form {
	display: inline;
}
.actions > div { float: left; }

.arrow {
	width:7px;
	height:4px;
	cursor:pointer;
	z-index:100;
}

.thumbnails form, .thumbnails form div {
	display: inline;
}

.thumbnails input {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 1px solid #D6D6D6;
	cursor: pointer;
}

h2.login_title {
    color: #747474;
    font: bold 26px/28px Arial,Helvetica,sans-serif;
    margin: 0 0 28px;
}

div.buttons {
	margin-left: 350px;
}

.buttonMainACC {
  margin-left: 0px;
  float:left;
  margin-top:0px; 
  margin-right:10px;
}

.default_font {
  font: 14px/24px "Trebuchet MS",Arial,Helvetica,sans-serif;
}

li.plain_cell {
  background: none;
  border: none;
}

.chriCABox{
	height:265px !important;
}

.buttonNews {
    padding:10px 16px 0px 16px;
}

.tableNews {
    padding:0px 0px 0px 16px;
}

.charity_comments a:hover, .cause_comments a:hover {
    text-decoration:none;
}

.charity_comments .cvNews, .cause_comments .cvNews {
    width:912px;
}

.treeview {
  margin: 0 0 0 10px;
}

.treeview li {
  background: 0 none;
  padding: 0px 0px 15px 22px;
}

.treeview div.hitarea {
  background: url(../images/closed.gif) no-repeat;
  position: relative;
  margin-top: 2px;
  padding-right:10px;
}

.treeview div.collapsable-hitarea {
  background: url(../images/open.gif) no-repeat;
}

.tree_leaf {
  margin-left: -16px;
  width: 16px;
  padding-right: 6px;
}

.fbold {
  font-weight: bold;
}

#select_categories_container ul ul {
	padding-left: 18px;
}

.bodyInSmPopUp{
	width:500px;
	margin:0 auto;
	overflow:hidden;
}

.boxMainPopUp{
	width:452px;
	overflow:hidden;
	background-color:#f6f6f6;
	border-bottom:1px solid #c2c2c2;
	border-right:1px solid #c2c2c2;
	border-left:1px solid #c2c2c2;
	padding:15px 23px;
}

#static_page_content p {
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#101010;
	padding:22px 0 0 0;
}

#static_page_content h3 {
	height:40px;
	background:url(../images/rInheadbg.jpg) 0 100% repeat-x;
	font:normal 26px/35px Arial, Helvetica, sans-serif;
	color:#707070;
	padding:0 0 0 15px;
	margin:42px 0 0 0;
}

.statInmainT3 td {
	padding:0 0 0 20px;
	font:normal 14px/50px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	border-right:1px solid #989898;
}

.causesTable {
    border-collapse:collapse;
    
}

.statInmainT2 th{
	padding:0 0 0 20px;
	font:bold 14px/31px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#f6f6f6;
	border-right:1px solid #989898;
}

#sidetree {
  display:none;
}
