
<div>

    <%= button_to(@follow_label, "#{@cause.id}/#{@follow_route}", :remote => true,:method => 'follow',:id => "submit_follow_btn",:onclick => '$(this).val("Submitting...");$(this).attr("disabled", "true");return true;' ) %>

</div>

