<div>
    <%= button_to(follow_btn.label, follow_btn.route, 
		:remote => true,
		:method => 'follow',
		:id => "submit_follow_btn",
		:onclick => '$(this).val("Submitting...");$(this).attr("disabled", "true");return true;') %>
</div>

