<!-- Vote button: -->
<p><%=@vote_errors%></p>

  <%if !@vote_visible%>
  <div style="visibility:hidden">
  <%else%>
  <div>
  <%end%>

    <%= button_to(@vote_label, 'vote/'+@cause.id.to_s, :remote => true,:method => 'vote',:id => "submit_vote_btn",:disabled => @vote_disabled ,:onclick => '$(this).val("Submitting...");$(this).attr("disabled", "true");return true;' ) %>

</div>

