<!-- Vote button: -->
<p><%=vote_btn.errors%></p>

  <%if !vote_btn.visible%>
  	<div style="visibility:hidden">
  <%else%>
  	<div>
  <%end%>

	<%= button_to(vote_btn.label, vote_btn.route, 
		:remote => true,
		:method => 'vote',
		:id => "submit_vote_btn",
		:disabled => vote_btn.disabled ,
		:onclick => '$(this).val("Submitting...");$(this).attr("disabled", "true");return true;' ) %>

</div>

