<%= single_block _("Action not allowed") do %>

  <p class="default_font"><%=_('Your charity cannot add new Causes until your charity is approved by Bivo, this should happen within the next 24 hours. Please contact ')%> <a href="info@bivo.org" >info@bivo.org</a> <%=_(' if you have questions.')%></p>
<br/><br/><br/>
<%=link_to _("Go back"),:back, :class => "default_font"%>

<% end %>

