<%= render :partial => "user_nav", :locals => {:language => @language, :languages => @languages } %>

<h1><%= _("Bivo Home Page")%></h1>

<strong><%= _("Raised amount") %></strong>
<%= @raised_amount %>
