<div class="cvNewsBoxInTxt" id="news_<%=news.id%>">
  <%=news.body %>
  <div style="height:5px;"></div>
  <ul class="rpLink" style="padding-bottom:5px;">
    <li><%= delete_news_button news.id, newsable %></li>
  </ul>
</div>
