<div id="comments_list">

  <%if @charity.has_own_comments_to_approve?%>
  <%=@charity.name%> <br/>
    <% comments_to_approve(@charity).each do |comm|%>
      <%= render('comment', :comment => comm, :entity => @charity)%>
    <%end%>
  <%end%>


  <% @charity.causes.each do |cause| %>
    <%if cause.has_own_comments_to_approve?%>
      <%=cause.name%> <br/>
      <% comments_to_approve(cause).each do |comm|%>
        <%= render('comment', :comment => comm, :entity => cause)%>
      <%end%>
    <%end%>
  <%end%>

</div>

