<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @income_category.name %>
</p>


<%= link_to 'Edit', edit_income_category_path(@income_category) %> |
<%= link_to 'Back', income_categories_path %>

