<div class="gallery">
	<div class="view">
	</div>

	<div class="thumbnails">
		<% gallery.items.each_with_index do |item, index|
			options = {}		
			options[:class] = 'current' if index == 0		
			options['data-kind'] = item.kind
			if item.is_video?
				options['data-video_id'] = item.video_id
			elsif item.is_photo?
				options['data-url'] = item.image.url(:normal)
			end
		%>
			<%= image_tag item.thumbnail_url, options %>
		<% end %>
	</div>
</div>

<%= edit_gallery_link entity %>