
<div class="youtube_video">
    <object width="425" height="355">
        <param name="movie" value="http://www.youtube.com/v/<%=@video.video_id%>&hl=en"></param>
        <param name="wmode" value="transparent"></param>
        <embed src="http://www.youtube.com/v/<%=@video.video_id%>&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
    </object>
</div>

<iframe src="http://player.vimeo.com/video/<%=@video.video_id%>" width="400" height="225" frameborder="0"></iframe><p>

