<style>
.gallery .thumbnails img { width: 60px; height: 45px; }
</style>

<div class="gallery">
	<div class="item">
	<%@gallery_items.each do |item|%>
		<% if item.type == "PhotoItem" %>
			<%= image_tag item.image.url(:normal) %>
		<% end %>
	<% end %>
	</div>

	<div class="thumbnails">
	<%@gallery_items.each do |item|%>
		<%= image_tag item.thumbnail_url %>
	<% end %>
	</div>
</div>
