<style>
.gallery .thumbnails img { width: 60px; height: 45px; cursor: pointer; border: 1px solid transparent; }
.gallery .thumbnails .current { border: 1px solid red; }
.gallery .view { width: 425px; height: 349px; }
</style>
<script>
$(function(){
	$('.gallery .thumbnails img').click(function(){
		var _this = $(this);
		var gallery = _this.closest('.gallery');
		var view = $('.view', gallery);
		var kind = _this.attr('data-kind');
		
		// mark thumbnail as current
		$('.current', gallery).removeClass('current');
		_this.addClass('current');
		
		// render full size content in ".gallery .view"
		// show/hide didn't work, so add/remove is used
		var content;
		if (kind == 'photo') {
			content = $('<img>').attr('src', _this.attr('data-url'));
		} else if (kind == 'youtube') {
			content = $('<iframe>')
				.attr('src', 'http://www.youtube.com/embed/' + _this.attr('data-video_id') + '?rel=0')
				.attr('type', 'text/html')
				.attr('width', '425')
				.attr('height', '349')
				.attr('frameborder', '0');				
		} else if (kind == 'vimeo') {
			content = $('<iframe>')
				.attr('src', 'http://player.vimeo.com/video/' + _this.attr('data-video_id') + '?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1')
				.attr('type', 'text/html')
				.attr('width', '425')
				.attr('height', '239')
				.attr('frameborder', '0');				
		}
		
		view.html(content);
		$(content).css('margin-top', (view.height() - content.height()) / 2);
	});

	// load first item
	$('.gallery .thumbnails img:first').click();
	
	// load vimeo thumbnails
	$('.gallery .thumbnails img').each(function(){
		// load thumbnails
		var img = $(this);
		if (img.attr('data-kind') == 'vimeo') {
			var url = "http://vimeo.com/api/v2/video/" + img.attr('data-video_id') + ".json?callback=showVimeoThumbnail";
			var script = $('<script src="' + url + '">');
			img.before(script);
		}
	});
});

// load vimeo thumbnails callback
// HACK: assume just one gallery is loaded
function showVimeoThumbnail(data){
	img = $('.gallery .thumbnails img[data-video_id=' + data[0].id + ']');
    $(img).attr('src',data[0].thumbnail_small);
}
</script>

<div class="gallery">
	<div class="view">
	</div>

	<div class="thumbnails">
	<%@gallery_items.each_with_index do |item, index|
		options = {}		
		options[:class] = 'current' if index == 0		
		if item.is_video?
			options['data-kind'] = item.kind
			options['data-video_id'] = item.video_id
		elsif item.is_photo?
			options['data-kind'] = 'photo'
			options['data-url'] = item.image.url(:normal)
		end
	%>
		<%= image_tag item.thumbnail_url, options %>
	<% end %>
	</div>
</div>
